@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@layer components {
  .bg-strawberry-gradient {
    background: radial-gradient(
        100% 100% at 50% 0,
        rgba(255, 184, 226, 0.51) 0,
        rgba(255, 255, 255, 0) 100%
      ),
      #fff;
  }

  .navlink,
  .toolbar__tab {
    transition: 250ms;
    @apply rounded-xl;
  }

  .navlink:hover,
  .toolbar__tab:hover {
    background-color: #99a1bd13;
    @apply text-textPrimary;
  }

  .login-button {
    @apply hover:shadow-outline-pink flex cursor-pointer items-center rounded-full  bg-lightPink px-4 py-2  font-semibold text-textPink  transition-all duration-[150] ease-in-out;
  }

  .shadow-outline-pink {
    box-shadow: 0px 0px 0px 1pt #fb118e1f;
    background-color: #fb118e1f;
    transform: scale(1.03);
  }

  .unset {
    all: unset !important;
  }

  .custom-dropdown-ctn {
    @apply [&>div:first-child>button]:unset hover:[&>div:first-child>button]:unset focus:[&>div:first-child>button]:unset [&>div:first-child>button>span]:unset focus:[&>div:first-child>button]:!ring-0 [&>div:first-child]:flex;
  }

  .custom-dropdown-ctn > div:nth-child(2) {
    @apply dark:unset rounded-2xl border-[#d2d9ee];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Select the scrollbar */
*::-webkit-scrollbar {
  cursor: pointer;
  @apply h-[5px] w-[5px];
}

/* Set the color and roundness of the scrollbar track */
*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

/* Set the color and roundness of the scrollbar thumb */
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  cursor: pointer;
  @apply bg-lightPink;
}
